@import "tailwindcss";

@theme {
  --color-primary-50: #f0f9f0;
  --color-primary-100: #dcf0dc;
  --color-primary-200: #bce3bc;
  --color-primary-300: #93cc93;
  --color-primary-400: #70b570;
  --color-primary-500: #4a944a;
  --color-primary-600: #3d7a3d;
  --color-primary-700: #336633;
  --color-primary-800: #2b522b;
  --color-primary-900: #244224;
}

body {
  font-family: "Poppins", sans-serif;
  transition:
    color 0.3s,
    background-color 0.3s;
  min-height: 100vh;
  line-height: 1.5;
  font-size: 1.6rem;
}

button {
  cursor: pointer;
}

*:disabled {
  cursor: not-allowed;
}

button:has(svg) {
  line-height: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  hyphens: auto;
}

img {
  max-width: 100%;

  filter: grayscale(var(--image-grayscale)) opacity(var(--image-opacity));
}

.scrollbar-none::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
}
.scrollbar-none {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
